getConn = async (conn_name) => {
    const conn = {
        "db_name_1" : {
            host: "value_of_host",
            user: "value_of_user",
            password: "value_of_password",
            database: "value_of_database",
        },
        "db_name_2" : {
            host: "value_of_host",
            user: "value_of_user",
            password: "value_of_password",
            database: "value_of_database",
        }
    }
    const result_conn = await conn[conn_name]
    console.log(result_conn)
    return result_conn
}

module.exports = { getConn }